<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
    
      <class name="com.luma.baseclass.BaseTest"/>
    
      <class name="com.luma.testcases.SignInTest"/>
      <class name="com.luma.testcases.CreateAccountTest"/>
      
      <class name="com.luma.testcases.LogoTest"/>
      <class name="com.luma.testcases.HomePageTest"/>
      
       <class name="com.luma.testcases.SearchTest"/>
        <class name="com.luma.testcases.SelectProductTest"/>
        
        <class name="com.luma.testcases.AddToCartTest"/>
        <class name="com.luma.testcases.DeleteCartitem"/>
        
        <class name="com.luma.testcases.Mendropdown"/>
        <class name="com.luma.testcases.Womendropdown"/>
        <class name="com.luma.testcases.GearDropdown"/>
      
      <class name="com.luma.testcases.ScrollPage"/>
      <class name="com.luma.testcases.SortBy"/>
      
       <class name="com.luma.testcases.FooterNotes"/>
       <class name="com.luma.testcases.FooterSearchTerm"/>
      <class name="com.luma.testcases.FooterPrivacy"/>
      
      <class name="com.luma.testcases.ShipppingtoCheckoutTest"/>
      
      <class name="com.luma.testcases.Shipping"/>
       <class name="com.luma.testcases.SignOutTest"/>
     
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
